.about-page {
    text-align: center;
}

h2, h3 {
    text-align: center;
    margin: 0;
}

h4 {
    position: relative;
    margin-bottom: 14px;
}

ol {
    padding-left: 16px;
}

.logo-profile {
    margin: 40px;
    width: 180px;
}

.dev-info {
    width: 550px;
    height: auto;
    margin: 20px;
    display: inline-block;
    border-radius: 20px;
    background-color: #392e77;
}

summary>p {
    margin: 0;
    padding: 10px;
    text-align: left;
    color: white;
}

summary {
    display: block;
    cursor: pointer;
}

details>summary::-webkit-details-marker {
    display: none;
}

.react-logo {
    width: 68px;
    height: 21px;
    margin-bottom: -4px;
}

.kakaodev-logo {
    width: 120px;
    margin-bottom: -3px;
}

.summary-devinfo {
    text-align: left;
    margin: 0;
    padding: 20px;
    background: rgb(33, 23, 80);
    display: block;
}

.my-portfolio {
    width: 550px;
    height: auto;
    margin: 16px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background: #392e77;
    border-radius: 20px;
}

.my-portfolio:hover {
    background: #d88c8c;
}

a > p {
    color: white;
    margin-top: 10px;
}

.left-info {
    position: fixed;
    top: 90px;
    width: 50%;
    height: 100%;
    float: left;
}

.right-info {
    float: right;
    width: 50%;
    height: 850px;

}

.version-update-info {
    width: 550px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    border-radius: 20px;
    background: #392e77;
}

.dev-info-icon {
    position: relative;
    top: 3px;
    margin-left: 5px;
    margin-right: 12px;
}

.planning-note-logo {
    position: relative;
    width: 20px;
    top: 6px;
    margin-left: 12px;
    margin-right: 12px;
}

.list-container {
    background: #392e77;
    padding: 20px;
    border-radius: 20px;
    margin-top: 12px;
}
@media all and (max-width: 1179px) {
    h4 {
        font-size: 13px;
    }
    .logo-profile {
        width: 130px;
    }

    .dev-info {
        width: 330px;
        font-size: 14px;
    }

    .my-portfolio {
        width: 330px;
    }

    .left-info {
        position: relative;
        top: 0;
        float: none;
        width: 100%;
    }

    .right-info {
        width: 100%;
        height: auto;
        float: none;
        overflow: visible;
    }

    .version-update-info {
        width: 330px;
        font-size: 14px;
    }

    a > p {
        font-size: 14px;
        margin-top: 6px;
    }
}