.about-page {
   text-align: center; 
}

h2, h3 {
    text-align: center;
    margin: 0;
}

h4 {
    margin-top: 40px;
    margin-bottom: 14px;
}

ol {
    padding-left: 16px;
}

.logo-profile {
    margin: 20px;
}

.dev-info {
    width: 490px;
    height: auto;
    display: inline-block;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px ;
    background-color: #FDA0A0;
}

summary > p {
    margin: 0;
    padding: 10px;
    text-align: left;
    color: white;
}

summary {
    display: block;
    border-left: 3px solid rgb(129, 129, 129);
    cursor: pointer;
}

details {
    border-bottom: 1px solid lightgray;
}

.react-logo {
    width: 68px;
    height: 21px;
    margin-bottom: -4px;
}

.kakaodev-logo {
    width: 120px;
    margin-bottom: -3px;
}

.summary-devinfo {
    text-align: left;
    margin: 0;
    padding: 10px;
    background: white;
    border: 1px solid lightgray;
    display: block;
}

.my-portfolio {
    width: 490px;
    height: auto;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background: #FDA0A0;
    border-left: 3px solid rgb(129, 129, 129);
    transition: all .3s;
}

.my-portfolio:hover {
    background: #d88c8c;
}

.my-portfolio > p {
    margin: 0;
    padding: 10px;
    text-align: left;
    color: white;
}

@media all and (max-width: 768px) {
    .logo-profile {
        width: 130px;
    }

    .dev-info {
        width: 340px;
        font-size: 14px;
    }

    .my-portfolio {
        width: 340px;
    }
}