* {
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    color: white;
}

html {
    background-color: #1a0058;
    position: relative;
    margin-top: 60px;
    height: 100%;
}